.Contador input {
    font-size: 1.4rem;
    width: 60px;
}

.Contador button {
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(118, 118, 225);
    color: white;
    font-size: 1.4rem;
}